*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
.container{
	width: 100%;
	height: 100vh;
	background: linear-gradient(135deg, #e3dbf6, #a99bf9);
	padding: 10px;
}
.card{
	width: 350px;
	height: 515px;
	margin: 55px auto 0;
	perspective: 700px;
}
.card-inner{
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 1s;
	transform-style: preserve-3d;
}
.front, .back{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	position: absolute;
	backface-visibility: hidden;
}
.front{
	background: url(img2.jpg);
	background-position: center;
	background-size: cover;
	padding: 60px 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	object-fit: cover;
}
.front h2{
	font-weight: 500;
	color: #fff;
}
.front p{
	color: #ccc;
	font-size: 13px;
}
.front button{
	width: 120px;
	border: 1px solid #fff;
	background: transparent;
	border-radius: 50px;
	padding: 8px 20px;
	cursor: pointer;
	margin-top: 20px;
	color: #fff;
}
.back{
	background: url(img3.jpg);
	color: #333;
	padding: 20px 40px;
	transform: rotateY(180deg);
}
.back h1{
	font-size: 50px;
	line-height: 55px;
	margin-bottom: 10px;
}
.back h1 span{
	font-weight: 400;
}
.back p{
	font-size: 14px;
}
.back p span{
	font-weight: 600;
}
.back img{
	width: 120px;
}
.row{
	display: flex;
	align-items: center;
	margin-top: 30px;
}


.card:hover .card-inner{
	transform: rotateY(180deg);
}