


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
    perspective: 1000px;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    font-size: 24px;
    color: white;
    border-radius: 10px;
}

.face1 {
    animation: flip 10s infinite;
    background-image: url(images/pexels-fotios.jpg);
}

.face2 {
    transform: rotateY(180deg);
    animation: flip 10s infinite 4s; 
    background-image: url(images/pexels-anastasiya.jpg);
}

@keyframes flip {
    0%, 100% {
        transform: rotateY(0deg) translateY(0);
        opacity: 1;
    }
    25% {
        transform: rotateY(90deg) translateY(-50px);
        opacity: 0.5;
    }
    50% {
        transform: rotateY(180deg) translateY(-100px);
        opacity: 0;
    }
    75% {
        transform: rotateY(270deg) translateY(-50px);
        opacity: 0.5;
    }
    100% {
        transform: rotateY(360deg) translateY(0);
        opacity: 1;
    }
}
